xmlschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by UMASS Boston CSLabs (UMASS Boston CSLabs) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="description">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="taxon" minOccurs="0"/>
				<xsd:element ref="plant-habit-and-life-style" minOccurs="0"/>
				<xsd:element ref="roots" minOccurs="0"/>
				<xsd:element ref="stems" minOccurs="0"/>
				<xsd:element ref="buds" minOccurs="0"/>
				<xsd:element ref="leaves" minOccurs="0"/>
				<xsd:element ref="flowers" minOccurs="0"/>
				<xsd:element ref="fruits" minOccurs="0"/>
				<xsd:element ref="cones" minOccurs="0"/>
				<xsd:element ref="seeds" minOccurs="0"/>
				<xsd:element name="pollen" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="spore-related-structures" minOccurs="0"/>
				<xsd:element ref="gametophytes" minOccurs="0"/>
				<xsd:element name="chromosomes" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="phenology" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-information" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="plant-habit-and-life-style">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="phls-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stems" type="xsd:string" minOccurs="0"/>
				<xsd:element name="buds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sap" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crown" type="xsd:string" minOccurs="0"/>
				<xsd:element name="branch" type="xsd:string" minOccurs="0"/>
				<xsd:element name="roots" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaves" type="xsd:string" minOccurs="0"/>
				<xsd:element name="multiple" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="roots">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="root-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="fascicle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rootlet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bark" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="buds">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="bud-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scale" type="xsd:string" minOccurs="0"/>
				<xsd:element name="apex" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stalk" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stipule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scar" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="stems">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="stem-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bark" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scale" type="xsd:string" minOccurs="0"/>
				<xsd:element name="wood" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pith" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stele" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaf-scar" type="xsd:string" minOccurs="0"/>
				<xsd:element name="internode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="node" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rhizome" type="xsd:string" minOccurs="0"/>
				<xsd:element name="caudex" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bulb" type="xsd:string" minOccurs="0"/>
				<xsd:element name="corm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="culm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tuber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stolon" type="xsd:string" minOccurs="0"/>
				<xsd:element name="turion" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rootstock" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rhizophore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="psuedostem" type="xsd:string" minOccurs="0"/>
				<xsd:element name="trunk" type="xsd:string" minOccurs="0"/>
				<xsd:element name="buds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="shoot" type="xsd:string" minOccurs="0"/>
				<xsd:element name="twig" type="xsd:string" minOccurs="0"/>
				<xsd:element name="branch" type="xsd:string" minOccurs="0"/>
				<xsd:element name="branchlet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spine" type="xsd:string" minOccurs="0"/>
				<xsd:element name="roots" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gemma" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crown" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="leaves">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="leaf-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="petiole" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pedicel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stipule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sheath" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaf-blade" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaflet-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaflet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaflet-blade" type="xsd:string" minOccurs="0"/>
				<xsd:element name="petiolule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rachis" type="xsd:string" minOccurs="0"/>
				<xsd:element name="auricle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="buds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cataphyll" type="xsd:string" minOccurs="0"/>
				<xsd:element name="crownshaft" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spine" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tendril" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ligule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gland" type="xsd:string" minOccurs="0"/>
				<xsd:element name="indument" type="xsd:string" minOccurs="0"/>
				<xsd:element name="abscission-zone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="flowers">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="inflorescence-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bract" type="xsd:string" minOccurs="0"/>
				<xsd:element name="peduncle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scape" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pedicel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spathe" type="xsd:string" minOccurs="0"/>
				<xsd:element name="prophyll" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rachis" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rachilla" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bracteole" type="xsd:string" minOccurs="0"/>
				<xsd:element name="branch" type="xsd:string" minOccurs="0"/>
				<xsd:element name="involucre" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stipe" type="xsd:string" minOccurs="0"/>
				<xsd:element name="flower-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="perianth" type="xsd:string" minOccurs="0"/>
				<xsd:element name="corolla" type="xsd:string" minOccurs="0"/>
				<xsd:element name="corona" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pappus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ligule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="calyx" type="xsd:string" minOccurs="0"/>
				<xsd:element name="glume" type="xsd:string" minOccurs="0"/>
				<xsd:element name="lemma" type="xsd:string" minOccurs="0"/>
				<xsd:element name="palea" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sepal" type="xsd:string" minOccurs="0"/>
				<xsd:element name="petal" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tepal" type="xsd:string" minOccurs="0"/>
				<xsd:element name="lip" type="xsd:string" minOccurs="0"/>
				<xsd:element name="hood" type="xsd:string" minOccurs="0"/>
				<xsd:element name="limb" type="xsd:string" minOccurs="0"/>
				<xsd:element name="carpel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anther" type="xsd:string" minOccurs="0"/>
				<xsd:element name="style" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stamen" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pistillode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="staminode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pistil" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ovule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stigma" type="xsd:string" minOccurs="0"/>
				<xsd:element name="filament" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ovary" type="xsd:string" minOccurs="0"/>
				<xsd:element name="disk" type="xsd:string" minOccurs="0"/>
				<xsd:element name="placenta" type="xsd:string" minOccurs="0"/>
				<xsd:element name="receptacle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="androphore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gynophore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gynoecium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gynostegium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="hypanthium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="keel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cupule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pollen" type="xsd:string" minOccurs="0"/>
				<xsd:element name="buds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="nectary" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gland" type="xsd:string" minOccurs="0"/>
				<xsd:element name="locule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="multiple" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="fruits">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="fruit-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="infructescence-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="peduncle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pedicel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rachis" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bract" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bracteole" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stipe" type="xsd:string" minOccurs="0"/>
				<xsd:element name="exocarp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mesocarp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="mericarp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="endocarp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pericarp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="endosperm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="replum" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scale" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scar" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cupule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="seeds" type="xsd:string" minOccurs="0"/>
				<xsd:element name="seed-coat" type="xsd:string" minOccurs="0"/>
				<xsd:element name="keel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="beak" type="xsd:string" minOccurs="0"/>
				<xsd:element name="husk" type="xsd:string" minOccurs="0"/>
				<xsd:element name="body" type="xsd:string" minOccurs="0"/>
				<xsd:element name="wing" type="xsd:string" minOccurs="0"/>
				<xsd:element name="spine" type="xsd:string" minOccurs="0"/>
				<xsd:element name="side-face" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gynophore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="receptacle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pappus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stigma" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sepal" type="xsd:string" minOccurs="0"/>
				<xsd:element name="calyx" type="xsd:string" minOccurs="0"/>
				<xsd:element name="tepal" type="xsd:string" minOccurs="0"/>
				<xsd:element name="carpel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="style" type="xsd:string" minOccurs="0"/>
				<xsd:element name="stylopodium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="placenta" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ovule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gland" type="xsd:string" minOccurs="0"/>
				<xsd:element name="embryo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cotyledon" type="xsd:string" minOccurs="0"/>
				<xsd:element name="dehiscence" type="xsd:string" minOccurs="0"/>
				<xsd:element name="valve" type="xsd:string" minOccurs="0"/>
				<xsd:element name="septum" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cones">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="cone-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cone-apex" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="seed-cones" minOccurs="0"/>
				<xsd:element ref="pollen-cones" minOccurs="0"/>
				<xsd:element name="sporangium" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="pollen-cones">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="pollen-cone-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="pollen" type="xsd:string" minOccurs="0"/>
				<xsd:element name="staminal-column" type="xsd:string" minOccurs="0"/>
				<xsd:element name="anther" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bract" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bracteole" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sporangiophore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="microsporangium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="peduncle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="microsporophyll" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="seed-cones">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="seed-cone-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="scale" type="xsd:string" minOccurs="0"/>
				<xsd:element name="bract" type="xsd:string" minOccurs="0"/>
				<xsd:element name="apophyse" type="xsd:string" minOccurs="0"/>
				<xsd:element name="umbo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ovule" type="xsd:string" minOccurs="0"/>
				<xsd:element name="integument" type="xsd:string" minOccurs="0"/>
				<xsd:element name="micropyle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="rachis" type="xsd:string" minOccurs="0"/>
				<xsd:element name="peduncle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="megasporophyll" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="seeds">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="seed-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="seed-coat" type="xsd:string" minOccurs="0"/>
				<xsd:element name="endosperm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="perisperm" type="xsd:string" minOccurs="0"/>
				<xsd:element name="aril" type="xsd:string" minOccurs="0"/>
				<xsd:element name="embryo" type="xsd:string" minOccurs="0"/>
				<xsd:element name="cotyledon" type="xsd:string" minOccurs="0"/>
				<xsd:element name="seedling" type="xsd:string" minOccurs="0"/>
				<xsd:element name="caruncle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="wing" type="xsd:string" minOccurs="0"/>
				<xsd:element name="body" type="xsd:string" minOccurs="0"/>
				<xsd:element name="radicle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="coma" type="xsd:string" minOccurs="0"/>
				<xsd:element name="hilum" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="spore-related-structures">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="spore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sorus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="indusium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="strobilus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sporophyll" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sporophore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sporangium" type="xsd:string" minOccurs="0"/>
				<xsd:element name="paraphyses" type="xsd:string" minOccurs="0"/>
				<xsd:element name="peduncle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="sporocarp" type="xsd:string" minOccurs="0"/>
				<xsd:element name="perispore" type="xsd:string" minOccurs="0"/>
				<xsd:element name="receptacle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="annulus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="gametophytes">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="gametophyte-general" type="xsd:string" minOccurs="0"/>
				<xsd:element name="gemma" type="xsd:string" minOccurs="0"/>
				<xsd:element name="branchlet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="leaves" type="xsd:string" minOccurs="0"/>
				<xsd:element name="compound" type="xsd:string" minOccurs="0"/>
				<xsd:element name="other-features" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="taxon">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="family" type="xsd:string" minOccurs="0"/>
				<xsd:element name="genus" type="xsd:string" minOccurs="0"/>
				<xsd:element name="specific-epithet" type="xsd:string" minOccurs="0"/>
				<xsd:element name="variation" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StringForFNA">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
